/* ----- GLOBAL */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a2342;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

/* ----- NAVBAR */

nav {
  background-color: #8977a4;
  font-weight: 600;
}

.nav-link:hover {
  color: #0a2342;
}

.brand {
  font-weight: 800;
  width: min-content;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/* ----- MAIN TITLE */

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #e3aeb1;
}

h2 {
  font-weight: 600;
  font-size: 1.8rem;
}

.btn-regular {
  background-color: #e3aeb1;
  color: black;
  border: none;
}

.btn-regular:hover {
  background-color: #c4888b;
}

/* ----- CARD */

.card{
    background-color: #e3aeb1;
    box-shadow: 0px 10px 15px #c4888b;
}

.card h3{
    font-size: 3rem;
    font-weight: 600;
}

.btn-success{
  background-color: #02A09A;
}

.btn-success:hover{
  background-color: #01726e;
}

@media (min-width: 768px) {
  .img-bussiness{
    position: relative;
    top:-2rem;
    width: 30rem;
  }
}

/* ----- BENEFITS */

.muted{
  color: gray;
}

.benefits h3, #price h3{
  font-weight: 600;
}

/* ----- PRICE */

#price h4{
  font-weight: 800;
  font-size: 3rem;
}

.card-price{
  height: 25rem;
}

.card-price ul{
  list-style: none;
}

.card-price li{
  padding-bottom: 1.5rem;
  font-weight: 400;
}

.card-price ul li:before {
  content: '✓';
  color:#01726e;
  margin-right: 1rem;
}