/* ----- GLOBAL */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a2342;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

main {
  padding-top: 10rem;
}


/* ----- NAVBAR */

nav {
  background-color: #8977a4;
  font-weight: 600;
}

.nav-link:hover {
  color: #0a2342;
}

.brand {
  font-weight: 800;
  width: min-content;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/* ----- MAIN TITLE */

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #e3aeb1;
}

@media (max-width: 410px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.8rem;
}

.btn-regular {
  background-color: #e3aeb1;
  color: black;
  border: none;
}

.btn-regular:hover {
  background-color: #c4888b;
}

/* ----- CARD */

.card {
  background-color: #e3aeb1;
}

#main-card .card{
  box-shadow: 10px 8px 0px #c4888b;
}

.card h3 {
  font-size: 3rem;
  font-weight: 600;
}

.btn-success {
  background-color: #02a09a;
}

.btn-success:hover {
  background-color: #01726e;
}

@media (min-width: 768px) {
  .img-bussiness {
    position: relative;
    top: -2rem;
    width: 30rem;
  }
}

/* ----- BENEFITS */

.muted {
  color: gray;
}

.benefits h3,
#price h3 {
  font-weight: 600;
}

/* ----- PRICE */

#price h4 {
  font-weight: 800;
  font-size: 3rem;
}

@media (max-width: 1400px) {
  #price h4 {
    font-size: 2rem;
  }
}

.card-price {
  height: 25rem;
}

.card-price ul {
  list-style: none;
}

.card-price li {
  padding-bottom: 1.5rem;
  font-weight: 400;
}

.card-price ul li:before {
  content: "✓";
  color: #01726e;
  margin-right: 1rem;
}

/* ----- TESTIMONIES */

.cards-testimonies .card{
  background-color: white;
  box-shadow: 5px 6px 0px rgb(196 196 196);
}

/* ----- FOOTER */

footer {
  border-top: solid rgb(170, 169, 169) 3px;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-bottom: 1rem;
}

footer li a {
  color: rgb(212, 211, 211);
  text-decoration: none;
}

footer li a:hover {
  color: grey;
}

footer li:first-child {
  font-weight: 600;
  padding-top: 1rem;
}

.footer-brand {
  width: min-content;
  font-size: 2rem;
  font-weight: 600;
}
