* {
  margin: 0;
  padding: 0;
}

html{
    background-color: #212529;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

main {
  background-color: #212529;
  color: white;
}

h1 {
  font-weight: 700;
}

.view-demo:hover{
    text-decoration: underline;
}

td a{
    color: white;
    text-decoration: none;
}

.btn-green{
  background-color: #0fa08a;
  color: white;
}

.btn-green:hover{
  background-color: #0e6f60;
  color: white;
}

.miniproyect-link{
  text-decoration: underline;
}